*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}

main{
  display: flex;
  flex-direction: column;
}


.side-one{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.side-one .logo{
  width: 100%;
  height: 100%;
}

.side-one .logo img{
  width: 100%;
  height: 100%;
}

.side-two{
  width: 100vw;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 20px 0;
}

.side-two div{
  width: 80%;
  height: 15rem;
  border-radius: 1rem;
  transition: .8s ease-in-out;
}

.side-two div:hover{
  width: calc( 80% * 1.1);
  height: calc(15rem * 1.1);
  opacity: .6;
}

.side-two img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

h1{
  color: white;
}

@media (min-width: 770px){
  main{
    flex-direction: row;
  }

  .side-one,
  .side-two{
    width: 50vw;
  }

  .side-one{
    height: 100vh;
  }

  .side-one .logo{
    height: 50%;
  }
  .side-two{
    margin-left: 50%;
    margin-top: 0;
    padding: 20px;
  }

  .side-two div{
    height: 20rem;
  }

  .side-two div:hover{
    height: calc(20rem * 1.1);
  }

}
